sudo: false
language: node_js
branches:
  only:
    - master
notifications:
  email: false
node_js:
  - '10'
script:
  - yarn lint
  - yarn global add codecov -g
  - yarn build
  - yarn test
  - codecov -f coverage/*.json
after_success:
  - codecov
  - yarn semantic-release
